body{
  font-family:Verdana;
}
h1 {
	text-align: center;
}
div{

  display:incline-block;
}
#top{
  width:100%;
  height:40%;
  background-color:#FFB6C1
  position:relative;
}
#top p{
  font-size:30px;
  position:relative;
  margin-left:2%;
  
}
table{
  width:80%;
  height:100%;
  margin:auto;
  align:center;
}
th{
  font-size:30px;
  font-family:Arial;
}
